/* Universal Sekector 
Semua Element akan dikenai atau dibeikan style*/
* {
    background-color: grey;
}
/* Element Selector */
h1,h2,h3 {
    color: white;
    background-color: yellowgreen;
}
span {
    color: white;
}
/* penggunakan selector element berdasarkan ID */
#menu1 {
    color: rgb(255, 196, 0);
}
/* Penggunaan selector ELement berdasarkan Class */
.mark {
    background-color: rgb(94, 150, 51);
}